@import bourbon
@import lightgallery
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,600,700)

@font-face
  font-family: 'Open Sans'


$bg: #faf9f9
$header: #003b6a
$content: #000
$underline: #ec1c24

body
  margin: 0
  font-family: 'Open Sans'
  color: $content
  max-width: 950px
  margin-left: auto
  margin-right: auto

a
  text-decoration: none
  color: $header
h1
  color: $header
  text-transform: uppercase
  margin-top: 50px

.header
  left: 0
  right: 0
  top: 0
  z-index: 1000
  margin-left: auto
  margin-right: auto
  position: relative
  max-width: 950px
  height: 200px
  background: url(../img/bg_top.png)
  background-size: cover
  border-bottom: 54px solid $header
  color: #FFF

.header a
  text-decoration: none
  color: $bg
  margin-bottom: 8px

.logo
  margin: 7px
  height: 170px
  position: relative
  float: left

.nav
  right: 0px
  top: 210px
  width: auto
  margin-right: 20px
  position: relative

ul
  margin: 0

.li
  float: right
  list-style-type: none
  margin-left: 40px
  font-size: 20pt

.li_bg:hover
  border-bottom: 3px solid $underline

.handout
  position: absolute
  top: 270px
  right: -15px
  z-index: 100
  width: 270px
  height: 270px
  border-radius: 50%
  overflow: hidden
  +transform(rotate(-12deg))
  background-color: $header

.handout:hover
  border: 3px solid $underline

.handout h1, .handout p
  color: $bg

.text
  position: absolute
  left: 50%
  margin-left: -135px
  text-align: center

.main
  position: relative
  top: 0px
  bottom: 0px
  background-color: $bg
  padding-bottom: 50px

img.chart
  max-width: 950px

.parties
  margin-bottom: 80px

img.republican, img.democratic
  width: 430px
  display: inline-block
  margin-left: 20px
  margin-right: 20px

img.constitution
  position: relative
  width: 400px
  left: 50%
  margin-left: -200px

img.scheme
  max-width: 950px
  margin-top: 40px


.mod
  margin-left: 20px
  margin-right: 20px
  max-width: 910px
  margin-bottom: 50px


  img
    float: left
    margin-right: 20px
    margin-bottom: 20px



  figure
    display: none

iframe
  display: block
  margin: auto

.video-container
  position: relative
  padding-bottom: 56.25%
  padding-top: 35px
  height: 0
  overflow: hidden

.video-container iframe
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%


@media screen and (max-width: 865px)
  .header
    border-bottom: 90px solid $header

  img.chart
    max-width: 800px

  img.scheme
    max-width: 800px
@media screen and (max-width: 600px)
  .header
    border-bottom: 130px solid $header

  img.chart
    max-width: 500px

  img.scheme
    max-width: 500px
