doctype html

head
  title US Presidential Electionsystem
  meta(charset="utf-8")
  link(href="css/main.css", rel="stylesheet", type="text/css")
  script(src="js/min/smooth_scroll-min.js")
  
body
 div(class="header")
  div(class="logo")
    a(href="index.php")
      img(class="logo", src="img/logo.png", alt="logo")
  div(id="nav-anchor")    
  nav(class="nav")
    ul(class="ul")
      li(class="li")
        a(href="#election") #[span(class="li_bg") ELECTION]
      li(class="li")
          a(href="#candidates") #[span(class="li_bg") CANDIDATES]  
      li(class="li")
        a(href="#parties") #[span(class="li_bg") PARTIES]
      li(class="li")
        a(href="#who") #[span(class="li_bg") WHO?]
 
 div(class="main")
  div(id="who")
    section(id="who") 
      h1 Who is this President?
      a(href="http://www.netage.com/economics/gov/Gov-chart-top.html", target="blank")
        img(class="chart", src="img/gov_chart.png", alt="chart") 
      
  div(id="parties")
    section(id="parties")
      h1 parties
      a(href="https://www.gop.com/platform/", target="blank")
        img(class="republican", src="img/Republicanlogo.png", alt="republican")
      a(href="https://www.democrats.org", target="blank")
        img(class="democratic", src="img/DemocraticLogo.png", alt="democratic")

  div(id="candidates")
    section(id="candidates")
      h1 Can I be candidate?!?
      iframe(src="//giphy.com/embed/aOFuAuXnh0ADe", width="480", height="270", frameBorder="0", class="giphy-embed", allowFullScreen)
      a(href="https://kids.usa.gov/president/index.shtml", target="blank")
        img(src="img/how-to-become-president-chart-dehahs-picture.png", class="scheme", alt="scheme")
  div(ID="election")
    section(id="election")
      h1 The Actual election
      div(class="video-container")
        iframe(width="950", height="534", src="https://www.youtube.com/embed/uRu_JcarCDY?start=164", frameborder="0", allowfullscreen)
      h1 Wanna Read it black on white?
      p You`re welcome: I proudly present the constitution of the United States of America!
      a(href="http://www.gpo.gov/fdsys/pkg/CDOC-110hdoc50/pdf/CDOC-110hdoc50.pdf", target="blank")
        img(src="img/United-States-Constitution.jpg", target="blank", class="constitution")
  div(id="thx", class="mod")
    section(id="thx")
      h1  THX!!!
      iframe(src="//giphy.com/embed/mPIA4KZVXv0ty", width="480", height="368", align="center", frameBorder="0", class="giphy-embed", allowFullScreen)
