doctype html

head
  title universalsäge.at
  meta(charset="utf-8")
  link(href="css/main.css", rel="stylesheet", type="text/css")
  script(src="js/min/smooth_scroll-min.js")
  
body
 div(class="header")
  div(class="logo")
    a(href="index.php")
      img(class="logo", src="../img/logo.png", alt="logo")
  div(id="nav-anchor")    
  nav(class="nav")
    ul(class="ul")
      li(class="li")
        a(href="#kontakt") #[span(class="li_bg") kontakt]
      li(class="li")
        a(href="#ref") #[span(class="li_bg") referenzen]
      li(class="li")
          a(href="#fotos") #[span(class="li_bg") fotos]  
      li(class="li")
        a(href="#fakten") #[span(class="li_bg") fakten]
      li(class="li")
        a(href="#saege") #[span(class="li_bg") die säge]
 
 div(class="main")
  div(id="saege")
    section(id="saege")  
      iframe(width="950", height="534", src="http://www.youtube.com/embed/-jZEKFxGN3U?&theme=light&showinfo=0&color=white&playlist=-jZEKFxGN3U", frameborder="0", allowfullscreen)
  div(id="fakten" class="mod")
    section(id="fakten")
      p Lorem ipsum dolor sit amet, 
        consectetuer adipiscing elit. Morbi commodo, 
        ipsum sed pharetra gravida, orci magna rhoncus neque, 
        id pulvinar odio lorem non turpis. 
        Nullam sit amet enim. Suspendisse id velit vitae 
        ligula volutpat condimentum. Aliquam erat volutpat. 
        Sed quis velit. Nulla facilisi. Nulla libero. 
        Vivamus pharetra posuere sapien. Nam consectetuer. 
        Sed aliquam, nunc eget euismod ullamcorper, 
        lectus nunc ullamcorper orci, fermentum bibendum 
        enim nibh eget ipsum. Donec porttitor ligula eu dolor.
         Maecenas vitae nulla consequat libero cursus 
         venenatis. Nam magna enim, accumsan eu, 
         blandit sed, blandit a, eros. 
         Quisque facilisis erat a dui. 
         Nam malesuada ornare dolor. 
         Cras gravida, diam sit amet rhoncus ornare, 
         erat elit consectetuer erat, 
         id egestas pede nibh eget odio.

  section(id="fotos")
  div(id="lightgallery" class="mod")    
      a(href="https://farm4.staticflickr.com/3894/15008518202_c265dfa55f_h.jpg", data-size="1600x1600", data-med="https://farm4.staticflickr.com/3894/15008518202_b016d7d289_b.jpg", data-med-size="1024x1024", data-author="Folkert Gorter", class="demo-gallery__img--main")
        img(src="https://farm4.staticflickr.com/3894/15008518202_b016d7d289_m.jpg", alt="")
        figure This is dummy caption.
      a(href="https://farm6.staticflickr.com/5591/15008867125_b61960af01_h.jpg", data-size="1600x1068", data-med="https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_b.jpg", data-med-size="1024x683", data-author="Samuel Rohl")
        img(src="https://farm6.staticflickr.com/5591/15008867125_68a8ed88cc_m.jpg", alt="")
        figure This is dummy caption. It has been placed here solely to demonstrate the look and feel of finished, typeset text.
      a(href="https://farm4.staticflickr.com/3902/14985871946_24f47d4b53_h.jpg", data-size="1600x1067", data-med="https://farm4.staticflickr.com/3902/14985871946_86abb8c56f_b.jpg", data-med-size="1024x683", data-author="Ales Krivec")
        img(src="https://farm4.staticflickr.com/3902/14985871946_86abb8c56f_m.jpg", alt="")
        figure This is dummy caption. It is not meant to be read.
      a(href="https://farm6.staticflickr.com/5584/14985868676_b51baa4071_h.jpg", data-size="1600x1067", data-med="https://farm6.staticflickr.com/5584/14985868676_4b802b932a_b.jpg", data-med-size="1024x683", data-author="Michael Hull")
        img(src="https://farm6.staticflickr.com/5584/14985868676_4b802b932a_m.jpg", alt="")
        figure Dummy caption. It's Greek to you. Unless, of course, you're Greek, in which case, it really makes no sense.
      a(href="https://farm4.staticflickr.com/3920/15008465772_d50c8f0531_h.jpg", data-size="1600x1067", data-med="https://farm4.staticflickr.com/3920/15008465772_383e697089_b.jpg", data-med-size="1024x683", data-author="Thomas Lefebvre")
        img(src="https://farm4.staticflickr.com/3920/15008465772_383e697089_m.jpg", alt="")
        figure It's a dummy caption. He who searches for meaning here will be sorely disappointed.

  div(ID="ref" class="mod")
    section(id="ref")
      p Lorem ipsum dolor sit amet, 
        consectetuer adipiscing elit. Morbi commodo, 
        ipsum sed pharetra gravida, orci magna rhoncus neque, 
        id pulvinar odio lorem non turpis. 
        Nullam sit amet enim. Suspendisse id velit vitae 
        ligula volutpat condimentum. Aliquam erat volutpat. 
        Sed quis velit. Nulla facilisi. Nulla libero. 
        Vivamus pharetra posuere sapien. Nam consectetuer. 
        Sed aliquam, nunc eget euismod ullamcorper, 
        lectus nunc ullamcorper orci, fermentum bibendum 
        enim nibh eget ipsum. Donec porttitor ligula eu dolor.
         Maecenas vitae nulla consequat libero cursus 
         venenatis. Nam magna enim, accumsan eu, 
         blandit sed, blandit a, eros. 
         Quisque facilisis erat a dui. 
         Nam malesuada ornare dolor. 
         Cras gravida, diam sit amet rhoncus ornare, 
         erat elit consectetuer erat, 
         id egestas pede nibh eget odio.
  div(id="contact" class="mod")
    section(id="kontakt")
      p Lorem ipsum dolor sit amet, 
        consectetuer adipiscing elit. Morbi commodo, 
        ipsum sed pharetra gravida, orci magna rhoncus neque, 
        id pulvinar odio lorem non turpis. 
        Nullam sit amet enim. Suspendisse id velit vitae 
        ligula volutpat condimentum. Aliquam erat volutpat. 
        Sed quis velit. Nulla facilisi. Nulla libero. 
        Vivamus pharetra posuere sapien. Nam consectetuer. 
        Sed aliquam, nunc eget euismod ullamcorper, 
        lectus nunc ullamcorper orci, fermentum bibendum 
        enim nibh eget ipsum. Donec porttitor ligula eu dolor.
         Maecenas vitae nulla consequat libero cursus 
         venenatis. Nam magna enim, accumsan eu, 
         blandit sed, blandit a, eros. 
         Quisque facilisis erat a dui. 
         Nam malesuada ornare dolor. 
         Cras gravida, diam sit amet rhoncus ornare, 
         erat elit consectetuer erat, 
         id egestas pede nibh eget odio.
         <!-- Root element of PhotoSwipe. Must have class pswp. -->
